@model string

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="page-device-code">
    <div class="lead">
        <h1>@Localizer["User Code"]</h1>
        <p>@Localizer["Please enter the code displayed on your device"]</p>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <form asp-action="UserCodeCapture">
                <div class="form-group">
                    <label for="userCode">@Localizer["User Code"]:</label>
                    <input class="form-control" for="userCode" name="userCode" autofocus />
                </div>

                <button class="btn btn-primary" name="button">@Localizer["Submit"]</button>
            </form>
        </div>
    </div>
</div>
