@page
@{
    Layout = "_Layout";
}

 <div class="row h-100 mx-auto">

      <main role="main" class="p-5 col-12 h-100">
        <h1 class="cover-heading">Idem</h1>
        <p class="lead">Our identity.</p>
      </main>

    </div>